---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

	 <div class="date">
    	{{post.author}}&nbsp;&nbsp; {{ post.date | date: "%B %e, %Y" }}
  	   </div>
  	   
      <h3>{{ post.title }}</h3>


      <div class="entry">
        {{ post.content }}
      </div>






<div id="comments">
  <!-- {% case post.comment_count %}
    {% when 0 %}
    {% when 1 %}
      <h1>1 Comment</h1>
    {% else %}
      <h1>{{post.comment_count}} Comments</h1>
  {% endcase %} -->
  {% for c in post.comments %}
    <div class="comment {% cycle 'odd', 'even' %}">
      <p class="comment_header">
        From: {% if c.link and c.link != '' %}
          <a href="{{c.link}}">{{c.name}}</a>
        {% else %}
          {{c.name}}
        {% endif %}
        <br />
        <span class="comment_date">{{c.date}}</span>
      </p>
      <p>
        {{c.comment | newline_to_br}}
      </p>
    </div>
  {% endfor %}
  
  <h3>Comment</h3>

  <form id="commentform" method="POST" action="{{site.url}}/commentsubmit.php">
    <input type="hidden" name="post_id" value="{{post.id}}" />
    <input type="hidden" name="return_url" value="{{site.url}}{{post.url}}" />
    <table>
      <tr>
        <th>name</th>
        <td><input type="text" size="25" name="name" /> </td>
      </tr>
      <tr>
        <th>email</th>
        <td><input type="text" size="25" name="email" /> (not published)</td>
      </tr>
      <tr>
        <td colspan="2"><textarea name="comment" rows="10" cols="60" ></textarea></td>
      </tr>
      <tr>
        <td><input type="submit" name="submit" value="submit comment" /></td>
      </tr>
    </table>
  </form>
</div>














    </article>
  {% endfor %}
</div>